
services:
  - docker

before_install:
- docker pull dazz111/ubuntu-sdk:build
- docker run -it --name sdk dazz111/ubuntu-sdk /bin/bash -c "curl -o build.sh https://raw.githubusercontent.com/dozzler555/jarvis/main/scripts/build.sh; chmod a+x build.sh; ./build.sh " 
- docker ps -a
script: 
    - chmod ugo+x scripts/build.sh
    
