services:
  - docker
before_install:
  - docker pull dazz111/ubuntu-sdk:latest
  - docker exec -i --tty dazz111/ubuntu-sdk:latest /bin/bash $(PWD)/build.sh
  - docker images
  - docker ps
  - docker container ls
  - docker exec $(docker ps -l -q) build.sh /bin/bash
