
services:
  - docker

before_install:
- docker pull dazz111/ubuntu-sdk:build
- docker exec -it --name sdk dazz111/ubuntu-sdk /bin/bash -c "./build.sh" 
- docker ps -a
script: 
    - chmod ugo+x scripts/build.sh
    
