
services: 
  - docker
before_install:
- docker pull dazz111/ubuntu-sdk
- docker run -d -p 127.0.0.1:80:4567 dazz111/ubuntu-sdk /bin/bash
- export container_id = $(docker ps --format {{.ID}})
- docker exec --tty $(container_id) /bin/bash build.sh

